.home {
  background: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url("../../images/Image/Rectangle 1.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
